<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2000.0" newVersion="2.0.2000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="Nlog.log">
    <targets>
      <target name="f1" xsi:type="File" fileName="${basedir}/logs/error/${shortdate}.log" layout="${date:format=HHmmss} ${logger} ${message}" />
      <target name="f2" xsi:type="File" fileName="${basedir}/logs/activities/${shortdate}.log" layout="${date:format=HHmmss} ${message}" />
      <target name="f3" xsi:type="File" fileName="${basedir}/logs/EveryActivities/${shortdate}.log" layout="${date:format=HHmmss} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="f1" />
      <logger name="*" level="Info" writeTo="f2" />
      <logger name="*" level="Debug" writeTo="f3" />
    </rules>
  </nlog>
</configuration>