<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2000.0" newVersion="2.0.2000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PaperWidthMM" value="108" />
    <add key="LabelWidthMM" value="34" />
    <add key="LabelHeightMM" value="20" />
    <add key="PrintSpeed" value="4" />
    <add key="Sensor" value="0" />
    <add key="VerticalGapMM" value="2" />
    <add key="HorizontalGapMM" value="0" />
    <add key="OffsetMM" value="0" />
    <add key="LeftMarginMM" value="0" />
    <add key="TopMarginMM" value="10" />
    <add key="Density" value="7" />
  </appSettings>
</configuration>
